# --------------------------------------------------------------------------------------------------------------
# Nozzle Clean Macros
#   written by Daniel Porrey
#   v1.1.1
#   Last Updated: 3/29/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------
[gcode_macro _WIPE_PATTERN_NAME_1]
description: Displays the pattern name/description.
gcode:
  RESPOND TYPE=echo MSG="Pattern 1 is the Zig-Zag wipe pattern"

[gcode_macro _WIPE_PATTERN_START_1]
description: Set the start position of the nozzle for wipe pattern 1
gcode:
  # Get macro parameters
  {% set wipe_axis  = (params.WIPE_AXIS|string)|upper %}
  {% set pad_x      = params.PAD_X|float %}
  {% set pad_y      = params.PAD_Y|float %}
  {% set pad_w      = params.PAD_W|float %}
  {% set pad_d      = params.PAD_D|float %}
  {% set travelxy_f = params.TRAVELXY_F|float %}

  # Move into the start position which is the pad's front corner
  {% if wipe_axis == "X" %}
    G1 X{pad_x} Y{pad_y} F{travelxy_f}
  {% elif wipe_axis == "Y" %}
    G1 X{pad_x} Y{pad_y} F{travelxy_f}
  {% else %}
    {action_raise_error("_WIPE_PATTERN_START_1: WIPE_AXIS must be X or Y")}
  {% endif %}

[gcode_macro _WIPE_PATTERN_CLEAN_1]
description: Wipe the nozzle across the full length of the pad in a zig-zag pattern
gcode:
  # Get macro parameters
  {% set wipe_axis = (params.WIPE_AXIS|string)|upper %}
  {% set pad_x     = params.PAD_X|float %}
  {% set pad_y     = params.PAD_Y|float %}
  {% set pad_w     = params.PAD_W|float %}
  {% set pad_d     = params.PAD_D|float %}
  {% set wipe_f    = params.WIPE_F|float %}
  {% set passes    = params.PASSES|int %}

  # Set the the number of zig-zag moves
  {% set zzc = 10 %}

  # Determine the distance to move on each iteration.
  {% if wipe_axis == "X" %}
    {% set step = pad_w / zzc %}
  {% elif wipe_axis == "Y" %}
    {% set step = pad_d / zzc %}
  {% endif %}

  # Initialize a namespace variable to retain
  # the moving direction through each iteration
  # of the loop.
  {% set ns = namespace(moving_forward=1) %}

  # Loop the specified number of times (passes). The nozzle 
  # will move the full length of the long direction of the
  # pad in each iteration
  {% for i in range(passes) %}
    {% for j in range(zzc) %}
      # Check the wipe axis
      {% if wipe_axis == "X" %}
        # Wiping in X direction

        # Get the incremental position of the Y move
        {% if ns.moving_forward == 1 %}
          # Moving forward
          {% set cx1 = pad_x + (j * step) %}
          {% set cx2 = pad_x + ((j + 1) * step) %}
        {% else %}
          # Moving backward
          {% set cx1 = (pad_x + pad_w) - (j * step) %}
          {% set cx2 = (pad_x + pad_w) - ((j + 1) * step) %} 
        {% endif %}

        # Ensure that cx1 never overruns the 
        # width of the pad
        {% if cx1 > (pad_x + pad_w) %}
          {% set cx1 = (pad_x + pad_w) %}
        {% endif %}

        # Ensure that cx2 never overruns the 
        # width of the pad
        {% if cx2 > (pad_x + pad_w) %}
          {% set cx2 = (pad_x + pad_w) %}
        {% endif %}

        # Make the first diagonal movement to the
        # right side of the pad advancing Y.
        G1 X{cx1} Y{pad_y + pad_d} F{wipe_f}

        # Make the second diagonal movement back to
        # the left side of the pad advancing Y.
        G1 X{cx2} Y{pad_y} F{wipe_f}
      {% elif wipe_axis == "Y" %}
        # Wiping in Y direction

        # Get the incremental position of the Y move
        {% if ns.moving_forward == 1 %}
          # Moving forward
          {% set cy1 = pad_y + (j * step) %}
          {% set cy2 = pad_y + ((j + 1) * step) %}
        {% else %}
          # Moving backward
          {% set cy1 = (pad_y + pad_d) - (j * step) %}
          {% set cy2 = (pad_y + pad_d) - ((j + 1) * step) %} 
        {% endif %}

        # Ensure that cy1 never overruns the 
        # depth of the pad
        {% if cy1 > (pad_y + pad_d) %}
          {% set cy1 = (pad_y + pad_d) %}
        {% endif %}

        # Ensure that cy2 never overruns the 
        # depth of the pad
        {% if cy2 > (pad_y + pad_d) %}
          {% set cy2 = (pad_y + pad_d) %}
        {% endif %}

        # Make the first diagonal movement to the
        # right side of the pad advancing Y.
        G1 X{pad_x + pad_w} Y{cy1} F{wipe_f}

        # Make the second diagonal movement back to
        # the left side of the pad advancing Y.
        G1 X{pad_x} Y{cy2} F{wipe_f}
      {% else %}
        {action_raise_error("_WIPE_PATTERN_CLEAN_1: WIPE_AXIS must be X or Y")}
      {% endif %}
    {% endfor %}

    # Toggle direction for next pass
    {% set ns.moving_forward = 1 - ns.moving_forward %}

  {% endfor %}