# --------------------------------------------------------------------------------------------------------------
# Pattern 0 - Straight Line Pattern
#   written by Daniel Porrey
#   v1.1.0
#   Last Updated: 3/28/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------
[gcode_macro _WIPE_PATTERN_NAME_0]
description: Displays the pattern name/description.
gcode:
  RESPOND TYPE=echo MSG="Pattern 0 is the Straight Line wipe pattern"

[gcode_macro _WIPE_PATTERN_START_0]
description: Set the start position of the nozzle for wipe pattern 0
gcode:
  # Get macro parameters
  {% set wipe_axis  = (params.WIPE_AXIS|string)|upper %}
  {% set pad_x      = params.PAD_X|float %}
  {% set pad_y      = params.PAD_Y|float %}
  {% set pad_w      = params.PAD_W|float %}
  {% set pad_d      = params.PAD_D|float %}
  {% set travelxy_f = params.TRAVELXY_F|float %}

  # Determine the starting position:
  #   Calculate the center on the pad in the 
  #   non-wipe axis.
  {% set cx = pad_x + (pad_w / 2.0) %}
  {% set cy = pad_y + (pad_d|float / 2.0) %}

  # Move into position
  {% if wipe_axis == "X" %}
    G1 X{pad_x} Y{cy} F{travelxy_f}
  {% elif wipe_axis == "Y" %}
    G1 X{cx} Y{pad_y} F{travelxy_f}
  {% else %}
    {action_raise_error("_WIPE_PATTERN_0_START: WIPE_AXIS must be X or Y")}
  {% endif %}

[gcode_macro _WIPE_PATTERN_CLEAN_0]
description: Wipe the nozzle across the full length of the pad in a straight line
gcode:
  # Get macro parameters
  {% set wipe_axis = (params.WIPE_AXIS|string)|upper %}
  {% set pad_x     = params.PAD_X|float %}
  {% set pad_y     = params.PAD_Y|float %}
  {% set pad_w     = params.PAD_W|float %}
  {% set pad_d     = params.PAD_D|float %}
  {% set wipe_f    = params.WIPE_F|float %}
  {% set passes    = params.PASSES|int %}

  # Determine the starting position:
  #   Calculate the center on the pad in the 
  #   non-wipe axis.
  {% set cx = pad_x + (pad_w / 2.0) %}
  {% set cy = pad_y + (pad_d|float / 2.0) %}

  # Loop the specified number of times (passes). The nozzle 
  # will move the full length of the long direction of the
  # pad in each iteration
  {% for i in range(passes) %}
    {% if wipe_axis == "X" %}
      # Wiping in X direction (holding Y constant)
      G1 X{pad_x + pad_w} Y{cy} F{wipe_f}
      G1 X{pad_x}         Y{cy} F{wipe_f}
    {% elif wipe_axis == "Y" %}
      # Wiping in Y direction (holding X constant)
      G1 X{cx} Y{pad_y + pad_d} F{wipe_f}
      G1 X{cx} Y{pad_y}         F{wipe_f}
    {% else %}
      {action_raise_error("_WIPE_PATTERN_1_CLEAN: WIPE_AXIS must be X or Y")}
    {% endif %}
  {% endfor %}