# --------------------------------------------------------------------------------------------------------------
# Nozzle Clean Macros
#   written by Daniel Porrey
#   v1.2.0
#   Last Updated: 4/1/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------

[include pad.cfg]
[include parameters.cfg]
[include Patterns/pattern0.cfg]
[include Patterns/pattern1.cfg]
[include Patterns/pattern2.cfg]
[include Patterns/pattern3.cfg]
[include Patterns/pattern4.cfg]

# --------------------------------------------------------------------------------------------------------------
# Usage:
# 
# Default:
#     NOZZLE_CLEAN
# 
# Set the temp to 230 and passes to 8:
#     NOZZLE_CLEAN TEMP=230 PASSES=8
# 
# Set the wipe height to 3.3:
#     NOZZLE_CLEAN Z=3.3
# 
# Set the temp to 200, passes to 2 and keep the hotend on:
#     NOZZLE_CLEAN TEMP=200 PASSES=2 KEEP_HOTEND_ON=1
# 
# Set temp to 210, passes to 8, turn the hotend off when completed:
#     NOZZLE_CLEAN TEMP=210 PASSES=8 KEEP_HOTEND_ON=0
# 
# Set temp to 265, passes to 8, keep the hotend on and set retraction to -2:
#     NOZZLE_CLEAN TEMP=265 PASSES=8 KEEP_HOTEND_ON=1 RETRACT_DISTANCE=-2
#
# Set use pattern 1, temp to 265, passes to 8, keep the hotend on and set retraction to -2:
#     NOZZLE_CLEAN PATTERN=1 TEMP=265 PASSES=8 KEEP_HOTEND_ON=1 RETRACT_DISTANCE=-2 
# --------------------------------------------------------------------------------------------------------------
[gcode_macro NOZZLE_CLEAN]
description: Clean the nozzle using a cleaning pad.
# Optional parameters:
#   TEMP:             Nozzle cleaning temperature
#   PASSES:           Number of wipe passes
#   PATTERN:          Set the pattern (0 = straight, 1 = zig-zag, 2 = wave, 3 = spiral inward, 4 = criss-cross)
#   Z:                Override wipe Z height for this run
#   KEEP_HOTEND_ON:   Set to 1 to keep hotend on, 0 to turn hotend off when complete
#   RETRACT_DISTANCE: Override the default retract distance
#   RETRACT_F:        Override the default retract feed rate
gcode:
  # Get configuration parameters
  {% set cfg = printer["gcode_macro _NOZZLE_PARAMETERS"] %}

  # Get the pad dimensions.
  {% set pad = printer["gcode_macro _NOZZLE_PAD"] %}

  # Calculate the best Z height to clean the nozzle.
  {% if pad.nozzle_height > pad.brush_height %}
    # Get as much of the nozzle into the brush as possible
    {% set wipe_z = pad.base_height + pad.z %}
  {% else %}
    # Don't let the nozzle get too low
    {% set wipe_z = pad.base_height + pad.brush_height - pad.nozzle_height + pad.z %}
  {% endif %}

  # Get macro parameters
  {% set temp               = params.TEMP|default(cfg.default_temp)|int %}
  {% set passes             = params.PASSES|default(cfg.default_passes)|int %}
  {% set keep_hotend_on     = params.KEEP_HOTEND_ON|default(cfg.default_keep_hotend_on)|int %}
  {% set retract_distance   = params.RETRACT_DISTANCE|default(cfg.default_retract_distance)|float %}
  {% set retract_f          = params.RETRACT_F|default(cfg.default_retract_f)|float %}
  {% set wipe_pattern       = params.PATTERN|default(cfg.default_wipe_pattern)|int %}
  {% set wipe_z             = params.Z|default(wipe_z)|float %}

  {% if wipe_pattern in [0, 1, 2, 3, 4] %}
    # Check safe_z
    {% if cfg.safe_z < (pad.base_height + pad.brush_height) %}
      # Raise an error
      {action_raise_error("_NOZZLE_PARAMETERS: variable_safe_z is below the pad height")}
    {% endif %}

    # Save the state.
    SAVE_GCODE_STATE NAME=nozzle_clean_state

    # Determine the wipe axis
    {% if pad.depth > pad.width %}
      RESPOND TYPE=echo MSG="Wiping nozzle in the Y direction with wipe pattern {wipe_pattern}"
      {% set wipe_axis = "Y" %}
    {% elif pad.width > pad.depth %}
      RESPOND TYPE=echo MSG="Wiping nozzle in the X direction with wipe pattern {wipe_pattern}"
      {% set wipe_axis = "X" %}
    {% else %}
      {action_raise_error("Cannot determine wipe axis from pad configuration.")}
    {% endif %}

    {% if temp > 0 %}
      # Start heating the nozzle and do not wait.
      {% if cfg.always_heat %}
        RESPOND TYPE=echo MSG="Heating to {temp}°C"
        M104 S{temp}
      {% else %}
        {% if printer.extruder.temperature < (temp - 2) %}
          RESPOND TYPE=echo MSG="Heating to {temp}°C"
          M104 S{temp}
        {% endif %}
      {% endif %}
    {% endif %}
      
    # Home if not already homed.
    {% if printer.toolhead.homed_axes != "xyz" %}
        # Home
        G28

        # Finish all moves.
        M400
    {% endif %}

    # Set absolute positioning
    G90
    
    # Reset extruder
    G92 E0

    # Go to safe travel height first.
    G1 Z{cfg.safe_z} F{cfg.travelz_f}

    # Display a message showing the wipe pattern
    {% if wipe_pattern == 0 %}
      _WIPE_PATTERN_NAME_0
    {% elif wipe_pattern == 1 %}
      _WIPE_PATTERN_NAME_1
    {% elif wipe_pattern == 2 %}
      _WIPE_PATTERN_NAME_2
    {% elif wipe_pattern == 3 %}
      _WIPE_PATTERN_NAME_3
    {% elif wipe_pattern == 4 %}
      _WIPE_PATTERN_NAME_4
    {% endif %}
    
    # Move above pad start position
    {% if wipe_pattern == 0 %}
      _WIPE_PATTERN_START_0 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} TRAVELXY_F={cfg.travelxy_f}
    {% elif wipe_pattern == 1 %}
      _WIPE_PATTERN_START_1 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} TRAVELXY_F={cfg.travelxy_f}
    {% elif wipe_pattern == 2 %}
      _WIPE_PATTERN_START_2 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} TRAVELXY_F={cfg.travelxy_f}
    {% elif wipe_pattern == 3 %}
      _WIPE_PATTERN_START_3 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} TRAVELXY_F={cfg.travelxy_f}
    {% elif wipe_pattern == 4 %}
      _WIPE_PATTERN_START_4 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} TRAVELXY_F={cfg.travelxy_f}
    {% endif %}

    # Check if we are heating
    {% if temp > 0 %}
      # Wait for the nozzle to get to temperature.
      {% if cfg.always_heat %}
        RESPOND TYPE=echo MSG="Waiting to reach temperature of {temp}°C"
        M109 S{temp}
      {% else %}
        {% if printer.extruder.temperature < (temp - 2) %}
          RESPOND TYPE=echo MSG="Waiting to reach temperature of {temp}°C"
          M109 S{temp}
        {% endif %}
      {% endif %}
    {% endif %}

    # Finish all moves.
    M400

    # Check if we are heating
    {% if temp > 0 %}
      # Retract a bit (if we are heating)
      G1 E{retract_distance} F{retract_f}
    {% endif %}
      
    # Drop to wipe height.
    RESPOND TYPE=echo MSG="Setting wipe height to {wipe_z}"
    G1 Z{wipe_z} F{cfg.travelz_f}
    
    # Display a message showing the number of passes
    {% if passes == 1 %}
      RESPOND TYPE=echo MSG="Making {passes} pass during cleaning"
    {% else %}
      RESPOND TYPE=echo MSG="Making {passes} passes during cleaning"
    {% endif %}

    # Display a message showing that cleaning is starting
    RESPOND TYPE=echo MSG="Cleaning nozzle..."

    # Call the pattern macro to clean the nozzle
    {% if wipe_pattern == 0 %}
      # Clean with wipe pattern 0
      _WIPE_PATTERN_CLEAN_0 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} WIPE_F={cfg.wipe_f} PASSES={passes}
    {% elif wipe_pattern == 1 %}
      _WIPE_PATTERN_CLEAN_1 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} WIPE_F={cfg.wipe_f} PASSES={passes}
    {% elif wipe_pattern == 2 %}
      _WIPE_PATTERN_CLEAN_2 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} WIPE_F={cfg.wipe_f} PASSES={passes}
    {% elif wipe_pattern == 3 %}
      _WIPE_PATTERN_CLEAN_3 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} WIPE_F={cfg.wipe_f} PASSES={passes}
    {% elif wipe_pattern == 4 %}
      _WIPE_PATTERN_CLEAN_4 WIPE_AXIS={wipe_axis} PAD_X={pad.x} PAD_Y={pad.y} PAD_W={pad.width} PAD_D={pad.depth} WIPE_F={cfg.wipe_f} PASSES={passes}
    {% endif %}

    # Lift and leave.
    G1 Z{cfg.safe_z|round(3)} F{cfg.travelz_f}

    # Check if we are heating
    {% if temp > 0 %}
      # Turn the hotend off if specified.
      {% if keep_hotend_on == 0 %}
        RESPOND TYPE=echo MSG="Turning hotend off"
        M104 S0
      {% else %}
        RESPOND TYPE=echo MSG="Keeping hotend temperature at {temp}°C" 
      {% endif %}
    {% endif %}

    # Finish all moves.
    M400
    
    # Display completed message.
    RESPOND TYPE=echo MSG="Nozzle cleaning completed."

    # Restore the state
    RESTORE_GCODE_STATE NAME=nozzle_clean_state
  {% else %}
    # Raise an error
    {action_raise_error("Wipe pattern " ~ wipe_pattern ~ " is not supported")}
  {% endif %}

# --------------------------------------------------------------------------------------------------------------
# Usage:
# 
# Default:
#     NOZZLE_CLEAN_TEST
# 
# --------------------------------------------------------------------------------------------------------------
[gcode_macro NOZZLE_CLEAN_TEST]
description: Test the nozzle cleaning without touching the pad or heating the hotend.
gcode:
  NOZZLE_CLEAN TEMP=0 KEEP_HOTEND_ON=0 Z=10

# --------------------------------------------------------------------------------------------------------------
# Usage:
# 
# Default:
#     NOZZLE_PAD_EDGE
# 
# Custom passes and inset: 
#     NOZZLE_PAD_EDGE PASSES=8 INSET=2
# 
# Lower the height to perform an actual wipe: 
#     NOZZLE_PAD_EDGE PASSES=8 INSET=3 Z=3.3
# 
# (if using NOZZLE_PAD_EDGE for cleaning run M109 S{temp} first)
# 
# --------------------------------------------------------------------------------------------------------------
[gcode_macro NOZZLE_PAD_EDGE]
description: Traces the pad perimeter (optionally inset) to validate pad geometry and positioning.
# Optional parameters:
#   PASSES: Number of perimeter loops.
#   INSET:  Inset from pad edge in mm.
#   Z:      Override wipe Z height for this run.
gcode:
  # Get configuration parameters
  {% set cfg = printer["gcode_macro _NOZZLE_PARAMETERS"] %}

  # Get the pad dimensions
  {% set pad = printer["gcode_macro _NOZZLE_PAD"] %}

  # Calculate the best Z height test the nozzle (3mm above the top of the pad).
  {% set wipe_z = pad.base_height + pad.brush_height + pad.z + 3 %}

  # Get macro parameters
  {% set passes     = params.PASSES|default(cfg.default_passes)|int %}
  {% set inset      = params.INSET|default(0.0)|float %}
  {% set wipe_z     = params.Z|default(wipe_z)|float %}

  # Check safe_z
  {% if cfg.safe_z < (pad.base_height + pad.brush_height) %}
    # Raise an error
    {action_raise_error("_NOZZLE_PARAMETERS: variable_safe_z is below the pad height")}
  {% endif %}
  
  # Save the state.
  SAVE_GCODE_STATE NAME=nozzle_edge_state

  # Check the parameters.
  {% if passes < 1 %}
    {action_raise_error("NOZZLE_PAD_EDGE: PASSES must be >= 1")}
  {% endif %}
  
  {% if inset < 0 %}
    {action_raise_error("NOZZLE_PAD_EDGE: INSET must be >= 0")}
  {% endif %}
  
  {% if (pad.width - 2 * inset) <= 0 or (pad.depth - 2 * inset) <= 0 %}
    {action_raise_error("NOZZLE_PAD_EDGE: INSET too large for pad size")}
  {% endif %}

  # Home if not already homed.
  {% if printer.toolhead.homed_axes != "xyz" %}
      # Home
      G28

      # Finish all moves.
      M400
  {% endif %}

  # Set absolute positioning
  G90

  # Compute inset rectangle.
  {% set xi0 = pad.x + inset %}
  {% set yi0 = pad.y + inset %}
  {% set xi1 = pad.x + pad.width - inset %}
  {% set yi1 = pad.y + pad.depth - inset %}

  # Travel above pad.
  G1 Z{cfg.safe_z} F{cfg.travelz_f}

  # Move to the front left corner of the pad.
  G1 X{xi0} Y{yi0} F{cfg.travelxy_f}

  # Down to height (defaults to 5mm if not specified).
  G1 Z{wipe_z} F{cfg.travelz_f}

  # Display a message showing the number of passes
  {% if passes == 1 %}
    RESPOND TYPE=echo MSG="Making {passes} pass"
  {% else %}
    RESPOND TYPE=echo MSG="Making {passes} passes"
  {% endif %}

  # Trace the edge of the nozzle pad
  # the specified number of times.
  RESPOND TYPE=echo MSG="Tracing nozzle pad edge..."
  {% for i in range(passes) %}
    G1 X{xi1} Y{yi0} F{cfg.wipe_f}
    G1 X{xi1} Y{yi1} F{cfg.wipe_f}
    G1 X{xi0} Y{yi1} F{cfg.wipe_f}
    G1 X{xi0} Y{yi0} F{cfg.wipe_f}
  {% endfor %}

  # Lift
  G1 Z{cfg.safe_z|round(3)} F{cfg.travelz_f}

  # Finish all moves.
  M400
  
  # Display completed message.
  RESPOND TYPE=echo MSG="Nozzle pad trace completed."

  # Restore the state
  RESTORE_GCODE_STATE NAME=nozzle_edge_state

[gcode_macro NOZZLE_PAD_Z]
description: Display the calculate Z height used to clean the nozzle.
gcode:
  # Get configuration parameters
  {% set cfg = printer["gcode_macro _NOZZLE_PARAMETERS"] %}

  # Get the pad dimensions
  {% set pad = printer["gcode_macro _NOZZLE_PAD"] %}

  # Calculate the best Z height to clean the nozzle.
  {% if pad.nozzle_height > pad.brush_height %}
    # Get as much of the nozzle into the brush as possible
    {% set wipe_z = pad.base_height + pad.z %}
  {% else %}
    # Don't let the nozzle get too low
    {% set wipe_z = pad.base_height + pad.brush_height - pad.nozzle_height + pad.z %}
  {% endif %}

  # Check safe_z
  {% if cfg.safe_z < (pad.base_height + pad.brush_height) %}
    # Raise an error
    RESPOND TYPE=echo MSG="_NOZZLE_PARAMETERS: variable_safe_z is below the pad height"
  {% endif %}

  RESPOND TYPE=echo MSG="The calculated Z height for cleaning is {wipe_z}"

[gcode_macro NOZZLE_PAD_PATTERNS]
description: Display the patterns available
gcode:
  _WIPE_PATTERN_NAME_0
  _WIPE_PATTERN_NAME_1
  _WIPE_PATTERN_NAME_2
  _WIPE_PATTERN_NAME_3
  _WIPE_PATTERN_NAME_4