# --------------------------------------------------------------------------------------------------------------
# Nozzle Clean Pad Definition
#   written by Daniel Porrey
#   v1.3.0
#   Last Updated: 4/4/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------

[gcode_macro _NOZZLE_PAD]
description: Defines the size and position of the nozzle pad for NOZZLE_CLEAN
# Pad geometry (all in mm).
variable_x:              -8.8  # The X position of the pad closest to 0 or left of 0 (can be negative)
variable_y:                14  # The Y position of the pad closest to 0 or before 0 (can be negative)
variable_width:           7.8  # The size of the pad along the X axis (must be a positive number)
variable_depth:         36.75  # The size of the pad along the Y axis (must be a positive number)
variable_base_height:    1.56  # The height of the base portion of the pad. The nozzle should not drop below this point.
variable_brush_height:   3.16  # The height of the brush portion of the pad.
variable_nozzle_height:  1.62  # The height of the exposed portion of the nozzle that needs to be cleaned.
variable_z:                 0  # The position of the pad. If the pad is on the build plate, set to 0. If the pad is 
                               # below the build plate use a negative number, otherwise use a positive number if it is
                               # above the build plate.

# 
# The dimensions above are set for the Bambu Lab A1 pad which can be purchased through one
# of these links:
# https://amzn.to/4uYKSFQ
# https://amzn.to/4bUZy08
# https://amzn.to/3Q7HMPJ
# 
# These pads have an adhesive backing and stick well to a bed plate without damage to the surface of the
# plate. You will have to adjust X and Y based on where you decide to place the pad. I recommend as far
# left and forward on your build plate as possible, or place it in the center at the very back portion
# of the plate. Ensure that wherever you place it, your nozzle can reach it.
# 
gcode:
  ; This macro only stores variables. No gcode required.