# --------------------------------------------------------------------------------------------------------------
# Nozzle Clean Pad Definition
#   written by Daniel Porrey
#   v1.1.0
#   Last Updated: 3/27/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------

[gcode_macro _NOZZLE_PAD]
description: Defines the size and position of the nozzle pad for NOZZLE_CLEAN
# Pad geometry (all in mm).
variable_x: -8.8         # Pad "start" X (one end of the wipe line)
variable_y: 14           # Pad Y (for X-direction wipes) or pad start Y (for Y-direction wipes)
variable_width: 7.8      # X size (left-to-right)
variable_depth: 36.75    # Y size (front-to-back)
variable_z: 8.2          # Z height to wipe at (absolute Z)

gcode:
  ; This macro only stores variables. No gcode required.