# --------------------------------------------------------------------------------------------------------------
# Nozzle Clean Pad Definition
#   written by Daniel Porrey
#   v1.1.0
#   Last Updated: 3/28/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------

[gcode_macro _NOZZLE_PAD]
description: Defines the size and position of the nozzle pad for NOZZLE_CLEAN
# Pad geometry (all in mm).
variable_x:              -8.8  # The X position of the pad closest to 0 or left of 0 (can be negative)
variable_y:                14  # The Y position of the pad closest to 0 or before 0 (can be negative)
variable_width:           7.8  # The size of the pad along the X axis (must be a positive number)
variable_depth:         36.75  # The size of the pad along the Y axis (must be a positive number)
variable_base_height:    1.56  # The height of the bae portion of the pad. The nozzle should not drop below this point.
variable_brush_height:   3.16  # The height of the brush portion of the pad.
variable_nozzle_height:  1.62  # The exposed portion height of the nozzle that needs to be cleaned.

gcode:
  ; This macro only stores variables. No gcode required.