# --------------------------------------------------------------------------------------------------------------
# Nozzle Clean Parameters
#   written by Daniel Porrey
#   v1.1.0
#   Last Updated: 3/28/2026
#   git: https://github.com/porrey/Klipper-Macros.git
#   License: (MIT) https://github.com/porrey/Klipper-Macros/blob/main/LICENSE
# --------------------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------------------
# Variable definitions only.
# --------------------------------------------------------------------------------------------------------------
[gcode_macro _NOZZLE_PARAMETERS]
description: Parameters for for NOZZLE_CLEAN
# Behavior
variable_safe_z: 10.0                  # Z used for travel moves (absolute Z)
variable_travelxy_f: 6000              # Travel x/y feedrate (mm/min)
variable_travelz_f: 3000               # Travel z feedrate (mm/min)
variable_wipe_f: 4000                  # Wipe feedrate (mm/min)
variable_retract_f: 1800               # Wipe feedrate (mm/min)

# Default values
variable_default_temp: 200             # Default cleaning temp if TEMP not provided
variable_default_passes: 5             # The default number of times to wipe the nozzle
variable_default_keep_hotend_on: 1     # Keep the hotend running since this command is macro
                                       # will be used during a print.
variable_default_retract_distance: -1  # The distance the filament will be retracted before cleaning
variable_default_retract_f: 4000       # Retraction feedrate (mm/min)
variable_default_wipe_pattern: 6       # 0 - linear wipe
                                       # 1 - zig-zag wipe
variable_always_heat: True             # If you want the macro to always heat (True) or only heat 
                                       # if below target (False)

gcode:
  ; This macro only stores variables. No gcode required.