[gcode_macro G28]
description: Auto Home
rename_existing: G28.1
gcode:
  {% set home_all = ('X' not in params) and ('Y' not in params) and ('Z' not in params) %}
  {% set home_x = home_all or ('X' in params) %}
  {% set home_y = home_all or ('Y' in params) %}
  {% set home_z = home_all or ('Z' in params) %}
  
  # Home X
  {% if home_x %}
    HOME_X
  {% endif %}

  # Home Y
  {% if home_y %}
    HOME_Y
  {% endif %}

  # Home Z
  {% if home_z %}
    HOME_Z
  {% endif %}

  # Load the default bed mesh only after homing Z
  {% if ('z' in printer.toolhead.homed_axes|lower) %}
    BED_MESH_PROFILE LOAD="default"
  {% endif %}