[gcode_macro G29]
gcode:
  #
  # Set starting acceleration
  #
  M204 S5000

  #
  # Set absolute positioning
  #
  G90

  #
  # Turn off hotend heater
  #
  M104 S0

  #
  # Turn the fan off.
  #
  M107

  #
  # Home
  #
  G28

  #
  # Run the bed mesh calibration.
  #
  BED_MESH_CALIBRATE

  #
  # Turn off bed heater
  #
  M140 S0
  
  #
  # Save the bed mesh profile
  #
  SAVE_CONFIG
  
  #
  # Park the toolhead
  #
  G27