[gcode_macro homing_parameters]
description: Holds parameters for auto homing
variable_safe_x:     100  #  Safe X position for nozzle. Used when parking the head.
variable_safe_y:     110  #  Safe Y position for nozzle. Used when parking the head.
variable_x_hop:        5  #  Amount of opposite movment on X before homing.
variable_y_hop:        5  #  Amount of opposite movment on Y before homing.
variable_feed_rate: 1500  #  Fed rate used when moving.
variable_safe_z:      10  #  Height of Z when moving.
gcode:
  ; This macro only stores variables. No gcode required.