[include homing-config.cfg]
[include G27.cfg]
[include G28.cfg]
[include G29.cfg]

[gcode_macro HOMING_STATUS]
description: Display homing status for X/Y/Z
gcode:
  {% set h = printer.toolhead.homed_axes|string %}

  {% set hx = "NO" %}
  {% set hy = "NO" %}
  {% set hz = "NO" %}

  {% if "x" in h %}{% set hx = "YES" %}{% endif %}
  {% if "y" in h %}{% set hy = "YES" %}{% endif %}
  {% if "z" in h %}{% set hz = "YES" %}{% endif %}

  {% set hs = "none" %}
  {% if h|length > 0 %}{% set hs = h %}{% endif %}

  RESPOND MSG="Homing status: X={hx}  Y={hy}  Z={hz} (homed_axes={hs})"

[gcode_macro HOMING_STATUS_X]
description: Display the homing status of the X axis
gcode:
  {% if ('x' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("X is not homed.\n")}
  {% else %}
    {action_respond_info("X is homed.\n")}
  {% endif %}

[gcode_macro HOMING_STATUS_Y]
description: Display the homing status of the Y axis
gcode:
  {% if ('y' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("Y is not homed.\n")}
  {% else %}
    {action_respond_info("Y is homed.\n")}
  {% endif %}

[gcode_macro HOMING_STATUS_Z]
description: Display the homing status of the Z axis
gcode:
  {% if ('z' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("Z is not homed.\n")}
  {% else %}
    {action_respond_info("Z is homed.\n")}
  {% endif %}

[gcode_macro HOME_X]
description: Auto home the X axis
gcode:
  {action_respond_info("Homing X...\n")}

  #
  # Save the state
  #
  SAVE_GCODE_STATE NAME=x_home_state
  
  #
  # Get the feed rate
  #
  {% set FEED_RATE = printer['gcode_macro homing_parameters'].feed_rate|int%}

  #
  # Get the safe Z position
  #
  {% set SAFE_Z = printer['gcode_macro homing_parameters'].safe_z|int%}

  #
  # Get the X hop (the distance we want to be from the x end stop)
  #
  {% set X_HOP = printer['gcode_macro homing_parameters'].x_hop|int%}

  #
  # Check if Z is homed
  #
  {% if ('z' in printer.toolhead.homed_axes|lower) %}
    #
    # Get the current Z
    #
    {% set z = printer.toolhead.position.z|float %}

    #
    # If Z is under safe_z move it to safe_z
    #
    {% if z < SAFE_Z %}
      #
      # Set absolute positioning
      #
      G90
    
      #
      # Move Z to safe position
      #
      G1 Z{SAFE_Z} F{FEED_RATE}
    {% endif %}
  {% else %}
    #
    # Z is not homed, force Z to a safe height
    #
    FORCE_MOVE STEPPER=stepper_z DISTANCE={SAFE_Z} VELOCITY=20
  {% endif %}
  
  #
  # Check if X is homed
  #
  {% if ('x' in printer.toolhead.homed_axes|lower) %}
    #
    # Get the X position
    #
    {% set x = printer.toolhead.position.x|float %}

    #
    # Check if the X psotion is less than X hop.
    #
    {% if x < X_HOP %}
      #
      # Set absolute positioning
      #
      G90
    
      #
      # Move X away from the end stop
      #
      G1 X{X_HOP} F{FEED_RATE}
    {% endif %}
  {% else %}
    #
    # X is not homed, force X right to ensure it is not on the end stop
    #
    FORCE_MOVE STEPPER=stepper_x DISTANCE={X_HOP} VELOCITY=20
  {% endif %}
  
  #
  # Home X
  #
  G28.1 X

  #
  # Set absolute positioning
  #
  G90

  #
  # Move X away from the end stop
  #
  G1 X{X_HOP} F{FEED_RATE}

  #
  # Restore the state
  #
  RESTORE_GCODE_STATE NAME=x_home_state

[gcode_macro HOME_Y]
description: Auto home the Y axis
gcode:
  {% if ('x' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("Home X before homing Y.\n")}
  {% else %}
    {action_respond_info("Homing Y...\n")}

    #
    # Save the state
    #
    SAVE_GCODE_STATE NAME=y_home_state

    #
    # Get the Y hop (the distance we want to be from the y end stop)
    #
    {% set Y_HOP = printer['gcode_macro homing_parameters'].y_hop|int%}
    
    #
    # Get the feed rate
    #
    {% set FEED_RATE = printer['gcode_macro homing_parameters'].feed_rate|int%}
    
    #
    # Check if Y is homed
    #
    {% if ('y' in printer.toolhead.homed_axes|lower) %}
      #
      # Get the Y position
      #
      {% set y = printer.toolhead.position.y|float %}
  
      #
      # Check if the X psotion is less than X hop.
      #
      {% if y < Y_HOP %}
        #
        # Set absolute positioning
        #
        G90
      
        #
        # Move Y away from the end stop
        #
        G1 Y{Y_HOP} F{FEED_RATE}
      {% endif %}
    {% else %}
      #
      # Y is not homed, force Y forward to ensure it is not on the end stop
      #
      FORCE_MOVE STEPPER=stepper_y DISTANCE={Y_HOP} VELOCITY=20
    {% endif %}

    #
    # Home Y
    #
    G28.1 Y
  
    #
    # Set absolute positioning
    #
    G90
  
    #
    # Move Y away from the end stop
    #
    G1 Y{Y_HOP} F{FEED_RATE}

    #
    # Restore the state
    #
    RESTORE_GCODE_STATE NAME=y_home_state
  {% endif %}

[gcode_macro HOME_Z]
description: Auto home the Z axis
gcode:
  {% if ('x' not in printer.toolhead.homed_axes|lower) or ('y' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("Home X/Y before homing Z.\n")}
  {% else %}
    {action_respond_info("Homing Z...\n")}

    #
    # Save the state
    #
    SAVE_GCODE_STATE NAME=z_home_state
    
    #
    # Get the feed rate
    #
    {% set FEED_RATE = printer['gcode_macro homing_parameters'].feed_rate|int%}

    #
    # Set absolute positioning
    #
    G90
    
    #
    # Move X/Y to the safe homing position
    #
    SAFE_XY
    
    #
    # Home Z once
    #
    G28.1 Z
      
    #
    # Move Z to the safe position
    #
    G1 Z10 F{FEED_RATE}

    #
    # Restore the state
    #
    RESTORE_GCODE_STATE NAME=z_home_state
  {% endif %}

[gcode_macro SAFE_XY]
description: Move X/Y to a safe position for homing Z
gcode:
  {% if ('x' not in printer.toolhead.homed_axes|lower) or ('y' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("Home X/Y/Z before moving to safe position.\n")}
  {% else %}
    #
    # Save the state
    #
    SAVE_GCODE_STATE NAME=safe_xy_state
    
    #
    # Get the feed rate
    #
    {% set FEED_RATE = printer['gcode_macro homing_parameters'].feed_rate|int%}

    #
    # Set absolute positioning
    #
    G90
    
    #
    # Move X/Y to thier safe positions
    #
    {% set SAFE_X = printer['gcode_macro homing_parameters'].safe_x|int%}
    {% set SAFE_Y = printer['gcode_macro homing_parameters'].safe_y|int%}
    G1 X{SAFE_X} Y{SAFE_Y} F{FEED_RATE}
    
    #
    # Restore the state
    #
    RESTORE_GCODE_STATE NAME=safe_xy_state
  {% endif %}

[gcode_macro SAFE_XYZ]
description: Move X/Y/Z to the parked position
gcode:
  {% if ('x' not in printer.toolhead.homed_axes|lower) or ('y' not in printer.toolhead.homed_axes|lower) or ('z' not in printer.toolhead.homed_axes|lower) %}
    {action_respond_info("Home X/Y/Z before moving to the parked position.\n")}
  {% else %}
    #
    # Save the state
    #
    SAVE_GCODE_STATE NAME=safe_xyz_state
    
    #
    # Get the feed rate
    #
    {% set FEED_RATE = printer['gcode_macro homing_parameters'].feed_rate|int%}

    #
    # Set absolute positioning
    #
    G90
    
    #
    # Move X/Y/Z to thier safe positions
    #
    {% set SAFE_X = printer['gcode_macro homing_parameters'].safe_x|int%}
    {% set SAFE_Y = printer['gcode_macro homing_parameters'].safe_y|int%}
    {% set SAFE_Z = printer['gcode_macro homing_parameters'].safe_z|int%}
    G1 X{SAFE_X} Y{SAFE_Y} Z{SAFE_Z} F{FEED_RATE}
    
    #
    # Restore the state
    #
    RESTORE_GCODE_STATE NAME=safe_xyz_state
  {% endif %}